
#root {
  margin: 0 auto;
  padding: 2rem;
  background-color: #F9F9F9;
  text-align: center;
}

/*General*/

.background-gray-pages{
  padding: 2%;
}

.background-white-pages{
  background-color: #FFFF;
}

/*Chat bell*/
.custom-background {
  background-color: #FFBB4F !important; /* Cambia #ff0000 por el color que desees */
}

.rounded-chat-counter{
padding-left: 7px;
padding-right: 7px;
padding-top: 4px;
padding-bottom: 4px;
margin-left: 5px;}

/*STYLES TEXT*/

h2  {
  font-size: 16px;
  color: #58595B;
  font-weight: bold;
}

.three-gray{
  color: #828282;
  font-weight: 600;
  transition: color 0.3s;

}

.three-gray:hover {
  color: #5A6ACF; /* Cambia #000 por el color que desees cuando esté en hover */
}

.four-gray{
  color: #BDBDBD;
  font-weight: 600;

}

.four-gray:hover {
  color: #5A6ACF; /* Cambia #000 por el color que desees cuando esté en hover */
}

.nj-gray-dark{
  color: #58595B;
  font-weight: 600;
}

.nj-gray-light{
  color: #A7A9AC;
  font-weight: 600;
}

.text-center {
  text-align: center!important;
  margin-left: -10vh;
}

/*LATERAL MENU LEFT*/

/*LOGO*/
.generated-image {
  max-width: 200px;
  height: auto; 
  }


.top-menu {
  margin-top: 15px;
}

.color-text-menu {
  color: #58595B;
}

.color-text-menu a,
.color-text-menu button {
  color: #58595B;
  text-decoration: none;
}

.color-text-menu .list-group-item:hover {
  background-color: #f1f2fc;
}

.color-text-menu #dropdown-basic {
  color: #58595b;
  transition: background-color 0.3s;
}

.color-text-menu a:hover,
.color-text-menu button:hover,
.color-text-menu #dropdown-basic:hover {
  color: #5A6ACF;
  text-decoration: none;
}

.svg-inline--fa {
  color: #58595B;
  transition: color 0.3s;
}

.svg-inline--fa:hover {
  color: #f28006;
  text-decoration: none;
}

.no-list-borders .list-group-item {
  border: none;
  border-radius: 0;
}

#dropdown-basic {
  background: none;
  border: none;
  padding: 0;
  color: #58595B;
  cursor: pointer;
}

.LeftMenu {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: relative;
  background-color: white;
  padding: 0px; /* Ajusta este valor según sea necesario */
  box-sizing: border-box; /* Esto asegura que el padding no afecte el ancho total */
}



.others-menu {
  position: absolute;
  bottom: 0;
  align-self: flex-end;
}



/* Agregado para el hover de los iconos */
.svg-inline--fa:hover {
  color: #f28006;
}

.hover-effect {
  color: #58595B;
  cursor: pointer;
  transition: color 0.3s, fill 0.3s;
}

.hover-effect:hover {
  color: #5A6ACF;
  fill: #f28006;
}

.color-text-menu .list-group-item {
  color: #58595B;
  text-decoration: none;
  transition: color 0.3s;
}

.color-text-menu .list-group-item:hover {
  color: #5A6ACF; /* Cambia el color del texto al hacer hover */
  text-decoration: none;
}

.color-text-menu .list-group-item .svg-inline--fa {
  color: #58595B;
  transition: color 0.3s;
}

.color-text-menu .list-group-item:hover .svg-inline--fa  {
  color: #f28006; /* Cambia el color del ícono al hacer hover sobre el elemento de la lista */
}

.top-space-charts h2{
  text-align: left;
  margin-top:5vh;
  margin-bottom: 5vh;
 color: #58595B;
}

/*LATERAL MENU RIGHT*/

.top-name{
 
  margin-top: 3vh;
}


.profile-picture {
  width: 80px; /* Ajusta el tamaño según tus necesidades */
  height: 80px;
  overflow: hidden;
  border-radius: 50%;
  margin: 20px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), 0 0 0 7px #FF9E18; /* Opcional: Agrega una sombra si lo deseas */
}

.profile-picture-chat {
  width: 40px; /* Ajusta el tamaño según tus necesidades */
  height: 40px;
  overflow: hidden;
  border-radius: 10px; /* Puedes ajustar este valor según tu preferencia */
  margin: 10px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Opcional: Agrega una sombra si lo deseas */
  margin-left: 20px;
}

.rounded-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px; /* Ajusta este valor según tu preferencia */
}



/* BUBLES STYLES */

.container-bubbles {
  display: flex;
  align-items: center; /* vertically center items */
  justify-content: center; /* horizontally center items */
}

.text-bubbles {
  text-align: center; /* center text horizontally */
}
.bubbles-icon {
  text-align: center; /* center text horizontally */
}
.bubbles-message {
  text-align: left; /* center text horizontally */
  font-family: 'Roboto';
  font-weight: 600;
  color: #A7A9AC;
  font-size: 14px;
}
.bubbles-username {
  text-align: left; /* center text horizontally */
  font-family: 'Roboto';
  font-weight: 700;
  color: #58595B;
  font-size: 16px;
}
.bubbles-dateprofile {
  text-align: center; /* center text horizontally */
  font-family: 'Roboto';
  font-weight: 500;
  color: #A7A9AC;
  font-size: 12px;
}

.text-al-left {
  text-align: left;
}

/*Data Origin Table*/

.icon-color{
  color: #58595B;
  transition: color 0.3s;
}

.icon-color:hover{
  color: #f28006; 
}

.normal-cell {
  color: #aa00ff; /* Color de texto blanco, ajusta según tus necesidades */
}

/*CARDS*/

.my-card-gray {
  width: 10vw; /* 20% del ancho de la ventana */
  height: 13vh; /* 15% de la altura de la ventana */
  background-color: #F8F8F8; /* Fondo gris claro */
}

.my-card-orange {
  width: 10vw; /* 20% del ancho de la ventana */
  height: 13vh; /* 15% de la altura de la ventana */
  background-color: #FFBB4F; /* Fondo naranja claro */
}

.card-title-dark{
  font-size: 15px;
  color: #58595B;
  font-family: 'Roboto';
  font-weight: 500;
  text-align: left;
}

.card-title-light{
  font-size: 15px;
  color: #ffffff;
  font-family: 'Roboto';
  font-weight: 500;
  text-align: left;
}

.card-text-style{
  font-size: 35px;
  font-family: 'Roboto';
  font-weight: 700;
  text-align: center;
  text-shadow: 1.5px 1.5px 2px rgba(40, 33, 33, 0.5);
}

.icon-style-fa{
  font-size: 34px;
  font-weight: 700;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Ajusta los valores según tus preferencias */
}

.nohover:hover{
color: orange;
}

.nohover{
  color: orange;
  }